# Node modules
node_modules/
**/node_modules/

# Build output
dist/
dist-ssr/
**/dist/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
*.local

# OS/editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
